.red {
  color: red;
}

.blue {
  color: blue;
}

.box {
  border: 2px solid black;
  background-color: pink;
}

#btn {
  background-color: blue;
  color: white;
}

.container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.displayColor {
  height: 150px;
  width: 500px;
  border: 1px solid black;
  margin: auto;
}

#scroll-box {
  overflow: scroll;
  height: 100px;
  width: 100px;
  float: left;
}

#scroll-box p {
  height: 200px;
  width: 200px;
}

#output {
  text-align: center;
}

/* body {
  font-family: Arial;
}

#mainImg {
  width: 20%;
  height: 30%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */
